header {
    background-color: #c50000;
    color: #fff;
    padding: 10px 0;
    margin: 0 20px;
}

nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color:#c50000;
    color: #fff;
    font-family: Arial, sans-serif;

}



